<div class="recipe recipe-list-item">
  <!-- Card Header -->
  <div class="recipe-cover">
    <img src="https://placehold.co/600x400/orange/white" alt="" />
  </div>
  <div class="recipe-title-container">
    <h2 class="recipe-title">Lorem ipsum dolor sit.</h2>
  </div>

  <!-- Author Data -->
  <div class="recipe-author">
    <span class="recipe-author-item">
      <i class="fas fa-user"></i>
      Yuri Dev
    </span>
    <span class="recipe-author-item">
      <i class="fas fa-calendar-alt"></i>
      16/09/2025 às 17h
    </span>
    <span class="recipe-author-item">
      <a href="#">
        <i class="fas fa-layer-group"></i>
        <span>Café da manhã</span>
      </a>
    </span>
  </div>
  <!-- Recipe Description -->
  <div class="recipe-content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo est
      quasi, velit doloribus nulla nesciunt. Velit sint consequuntur beatae
      voluptatibus?
    </p>
  </div>

  <!-- Goal and  servings -->
  <div class="recipe-goal-container">
    <div class="recipe-goal recipe-preparation">
      <h3 class="recipe-goal-title"><i class="fas fa-stopwatch"></i>Preparo</h3>
      <div class="recipe-goal-text">0 minutos</div>
    </div>
    <div class="recipe-goal recipe-servings">
      <h3 class="recipe-goal-title">
        <i class="fas fa-pizza-slice"></i>
        Porções
      </h3>
      <div class="recipe-goal-text">0 Porções</div>
    </div>
  </div>
  <!-- Button area -->

  <footer class="recipe-footer">
    <a href="#" class="recipe-read-more button button-dark button-full-width">
      <i class="fas fa-eye"></i>
      <span>ver mais...</span>
    </a>
  </footer>
</div>
