{% load static %}
<!DOCTYPE html>
<html lang="{{ html_language }}">

<head>
    {% include '../../partials/head.html' %}
    <title>{% block title %}{% endblock title %} Receitas</title>
</head>

<body>
    {% comment %} {% include 'partials/menu.html' %} {% endcomment %}
    {% include '../../partials/header.html' %}
    {% include '../../partials/search.html' %}

    <main class="main-content-container">
        {% block content %}{% endblock content %}
        {% comment %} {% include '../../partials/pagination.html' %} {% endcomment %}
    </main>

    {% include '../../partials/footer.html' %}

    {% comment %} <script src="{% static 'global/js/scripts.js' %}"></script> {% endcomment %}
</body>

</html>